## 1068. Product Sales Analaysis I

In [1]:
from pyspark.sql import SparkSession, Row
import pyspark.sql.functions as f
import pandas as pd
from pyspark import SparkContext
sc = SparkContext()
sc.setLogLevel("ERROR")
spark = SparkSession.builder\
    .master("local")\
    .appName("main")\
    .config("spark.dynamicAllocation.enabled", "true")\
    .config("spark.shuffle.service.enabled", "true")\
    .config("spark.sql.catalogImplementation", "hive")\
    .getOrCreate()

#### Solution using Pandas

In [2]:
data = [[1, 100, 2008, 10, 5000], [2, 100, 2009, 12, 5000], [7, 200, 2011, 15, 9000]]
sales = pd.DataFrame(data, columns=['sale_id', 'product_id', 'year', 'quantity', 'price']).astype({'sale_id':'Int64', 'product_id':'Int64', 'year':'Int64', 'quantity':'Int64', 'price':'Int64'})
data = [[100, 'Nokia'], [200, 'Apple'], [300, 'Samsung']]
product = pd.DataFrame(data, columns=['product_id', 'product_name']).astype({'product_id':'Int64', 'product_name':'object'})

In [3]:
sales.merge(product, on = "product_id", how= "left")[["product_name", "year", "price"]]

  product_name  year  price
0        Nokia  2008   5000
1        Nokia  2009   5000
2        Apple  2011   9000

#### Solution using Pyspark

In [4]:
data = [[1, 100, 2008, 10, 5000], [2, 100, 2009, 12, 5000], [7, 200, 2011, 15, 9000]]
sales = pd.DataFrame(data, columns=['sale_id', 'product_id', 'year', 'quantity', 'price']).astype({'sale_id':'Int64', 'product_id':'Int64', 'year':'Int64', 'quantity':'Int64', 'price':'Int64'})
data = [[100, 'Nokia'], [200, 'Apple'], [300, 'Samsung']]
product = pd.DataFrame(data, columns=['product_id', 'product_name']).astype({'product_id':'Int64', 'product_name':'object'})

In [5]:
sales = spark.createDataFrame(sales)
product = spark.createDataFrame(product)

In [6]:
sales.join(product, on = (sales.product_id == product.product_id), how = "left").select(product.product_name, sales.year, sales.price).show()

+------------+----+-----+
|product_name|year|price|
+------------+----+-----+
|       Nokia|2008| 5000|
|       Nokia|2009| 5000|
|       Apple|2011| 9000|
+------------+----+-----+