#### 1683. Invalid Tweets

In [1]:
from pyspark.sql import SparkSession, Row
import pyspark.sql.functions as f
import pandas as pd
import numpy as np
from pyspark import SparkContext
sc = SparkContext()
sc.setLogLevel("ERROR")
spark = SparkSession.builder\
    .master("local")\
    .appName("main")\
    .config("spark.dynamicAllocation.enabled", "true")\
    .config("spark.shuffle.service.enabled", "true")\
    .config("spark.sql.catalogImplementation", "hive")\
    .getOrCreate()

#### Solution using Pandas

In [11]:
data = [[1, 'Let us Code'], [2, 'More than fifteen chars are here!']]
tweets = pd.DataFrame(data, columns=['tweet_id', 'content']).astype({'tweet_id':'Int64', 'content':'object'})

In [12]:
tweets

   tweet_id                            content
0         1                        Let us Code
1         2  More than fifteen chars are here!

In [16]:
tweets[tweets["content"].str.len() > 15][["tweet_id"]]

   tweet_id
1         2

#### Solution using Pyspark

In [4]:
tweets = spark.createDataFrame(tweets)

In [5]:
tweets.filter(f.length(f.col("content")) > 15).select("tweet_id").show()

+--------+
|tweet_id|
+--------+
|       2|
+--------+