#### 1378. Replace Employee ID With The Unique Identifier

In [1]:
from pyspark.sql import SparkSession, Row
import pyspark.sql.functions as f
import pandas as pd
import numpy as np
from pyspark import SparkContext
sc = SparkContext()
sc.setLogLevel("ERROR")
spark = SparkSession.builder\
    .master("local")\
    .appName("main")\
    .config("spark.dynamicAllocation.enabled", "true")\
    .config("spark.shuffle.service.enabled", "true")\
    .config("spark.sql.catalogImplementation", "hive")\
    .getOrCreate()

#### Solution using Pandas

In [2]:
data = [[1, 'Alice'], [7, 'Bob'], [11, 'Meir'], [90, 'Winston'], [3, 'Jonathan']]
employees = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'int64', 'name':'object'})
data = [[3, 1], [11, 2], [90, 3]]
employee_uni = pd.DataFrame(data, columns=['id', 'unique_id']).astype({'id':'int64', 'unique_id':'int64'})

In [3]:
employees.merge(employee_uni, on= "id", how= "left")[["unique_id", "name"]]

   unique_id      name
0        NaN     Alice
1        NaN       Bob
2        2.0      Meir
3        3.0   Winston
4        1.0  Jonathan

#### Solution using Pyspark

In [4]:
employees = spark.createDataFrame(employees)
employee_uni = spark.createDataFrame(employee_uni)

In [5]:
employees.join(employee_uni, on = (employees.id == employee_uni.id), how= "left").select("unique_id", "name").show()

+---------+--------+
|unique_id|    name|
+---------+--------+
|     NULL|   Alice|
|     NULL|     Bob|
|        2|    Meir|
|        3| Winston|
|        1|Jonathan|
+---------+--------+